<div class="w-full px-16 py-8">
  <div class="flex flex-row gap-20">
    <div class="min-w-[320px] bg-white rounded-lg ml-8 px-4 py-3">
      <%= form_with url: movies_path, method: :get, class: "flex flex-col" do |form| %>
        <%= form.label :category, "カテゴリー", class: "text-2xl font-semibold" %>
        <div class="">
          <%= form.collection_radio_buttons :category, Category.all, :id, :text do |b| %>
            <div class="radio">
              <%= b.label do %>
                <div class="inline-flex items-center">
                  <%= b.radio_button %>
                  <div class="ml-2">
                    <%= b.text %>
                  </div>
                </div>
              <% end %>
              <br>
            </div>
          <% end %>
        </div>
        <%= submit_tag 'フィルター', class: 'btn-primary ' %>
      <% end %>
    </div>
    <div class="flex-1 flex flex-col">
      <div class="flex justify-between items-center">
        <h1 class="font-bold text-4xl border-l-4 border-blue-500">映画リスト</h1>
        <%= link_to '新規作成', new_movie_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      </div>
      <div id="movies" class="min-w-full flex flex-wrap mt-6 gap-x-8 gap-y-6">
        <% @movies.each do |movie| %>
          <%= render 'card', :movie => movie %>
        <% end %>
      </div>
    </div>
  </div>
</div>
