<% review = MovieReview.new %>

<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @movie %>

    <%= link_to '編集', edit_movie_path(@movie), class: "btn" %>
    <div class="inline-block ml-2">
      <%= button_to '消去', movie_path(@movie), method: :delete, class: "btn btn-error" %>
    </div>
    <%= link_to '映画に戻る', movies_path, class: "btn btn-ghost" %>

  </div>
  <div class="mt-6">
    <%= form_with(model: review, url: movie_reviews_url) do |form| %>
      <div>
        <%= form.label :review, "レビュー", class: "text-xl font-semibold" %>
        <%= form.hidden_field :user_id, :value => current_user.id %>
        <%= form.hidden_field :movie_id, :value => @movie.id %>
      </div>
      <div class="input-group">
        <%= form.text_field :review, :class => "input input-bordered" %>
        <%= form.submit "送信", class: "btn" %>
      </div>
    <% end %>
    <ul>
      <% @movie.movie_review.each do |movie_review| %>
        <li class="flex flex-row my-2">
          <% if movie_review.user.avatar.attached? %>
            <%= image_tag(movie_review.user.avatar, style: 'width:40px;height:40px;border-radius:9999px;object-fit:cover;') %>
          <% else %>
            <%= image_tag('/avatar.png', style: 'width:40px;height:40px;border-radius:9999px;') %>
          <% end %>
          <div class="flex flex-1 flex-col px-3 py-2 bg-slate-50 ml-2 rounded-lg">
            <div class="inline-flex justify-between items-center">
              <b><i><%= movie_review.user.name %></i></b>
              <p class="text-sm text-slate-500">
                <%= movie_review.created_at.strftime("%R %B %d, %Y") %>
              </p>
            </div>
            <div>
              <%= movie_review.review %> <br>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

</div>