<div id="<%= dom_id director %>">

  <% if director.image.attached? %>
    <%= image_tag(director.image, style: 'width:200px;height:300px;') %>
  <% else %>
    <%= image_tag('/avatar.png', style: 'width:200px;height:300px;') %>
  <% end %>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= director.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date of birth:</strong>
    <%= director.date_of_birth %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bio:</strong>
    <%= director.bio %>
  </p>

  <% if @movies %>
    <div id="movies" class="min-w-full flex flex-wrap mt-6 gap-x-8 gap-y-6">
      <% @movies.each do |movie| %>
        <%= render 'movies/card', :movie => movie %>
      <% end %>
    </div>
  <% end %>

  <% if action_name != "show" %>
    <%= link_to "Show this director", director, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this director', edit_director_path(director), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
